footer {
    a {
        color: #ffffff;
        &:hover { color: #dfdfdf; }
    }
    .footer-top {
        padding: 100px 0;
        background: $primaryColor;
        color: #ffffff;
        .container {
            display: flex;
            .info-block:first-child {
                width: 40%;
                h5 {
                    font: 800 32px/1.5 "open_sansbold";
                    text-transform: uppercase;
                    margin-bottom: 40px;
                }
                .social {
                    margin-top: 50px;
                    a + a { margin-left: 10px; }
                    a {
                        display: inline-block;
                    }
                }
            }
            .info-block:nth-child(n + 2) {
                width: 30% ;
                text-align: center;
                h5 {
                    font: 800 32px/1.5 "open_sansbold";
                    text-transform: uppercase;
                    margin-bottom: 40px;
                }
                .tag { text-indent: -9999px; }
                div + div { margin-top: 50px; }
            }
        }
    }
    .footer-bottom {
        padding: 40px 0;
        background: darken($primaryColor, 15%);
        .container p {
            text-align: center;
            color: #ffffff;
        }
    }
}